
.title{
    color: grey;
}

.value{
    margin-bottom: 10px;
    font-weight: 500;
}

.aprobado {
    
    background-color: rgb(42, 175, 42);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}


.no-aprobado {
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 5px;
}
.row{
    display: 'flex';
    flex-direction: 'row';
}