<div class="card">
    <div class="card-body">
        <h4 class="card-title">Afiliados</h4>
       
        <br>
        <table class="table">
            <thead>
                <th>Nombre</th>
                <th>Categoría</th>
                <th>Ubicación</th>
                <th>Rating</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let afiliado of afiliados" >
                    <td>
                        <b>{{ afiliado.nombre }}</b>
                        <br>
                        <img [src]="afiliado.img" width="100" [alt]="'imagen de '+afiliado.nombre" >
                    </td>
                    <td>
                       {{ afiliado.categoria }}
                    </td>
                    <td>
                        {{ afiliado.ubicacion }}
                     </td>
                    <td>
                        <i class="fa fa-star text-warning"></i> {{ afiliado.rating }}
                     </td>
                    
                    <td>
                        <a  [routerLink]="['/afiliados/'+afiliado.id+'/details']"  class="btn btn-success text-white">
                            <i class="fa fa-eye"></i>
                        </a>
                        <button  class="btn btn-success">
                            <i class="fa fa-arrow-up"></i>
                        </button>       
                        <button  class="btn btn-warning text-white" (click)="desactivar(afiliado)" >
                            Desactivar
                        </button>      
                        <button (click)="eliminarAfiliado(afiliado)" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>                  
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>