<div class="card">
    <div class="card-body">
        <h4 class="card-title">Crear blog</h4>
        <form novalidate  (ngSubmit)="handleCreate()"  >
            <div class="form-group">
                <label for="fecha">Fecha del blog</label>
                <input type="text" class="form-control" [(ngModel)]="blog.fecha" name="fecha" placeholder="">
              </div>
            <div class="form-group">
                <label for="name">Título del blog</label>
                <input type="text" class="form-control" [(ngModel)]="blog.titulo" name="titulo" placeholder="">
            </div>
            <div class="form-group">
              <label for="descripcion">Descripción</label>
              <textarea class="form-control" [(ngModel)]="blog.descripcion" name="descripcion" id="descripcion" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="name">Link al blog</label>
                <input type="text" class="form-control" [(ngModel)]="blog.link" name="link" placeholder="">
            </div>
            <button type="submit" class="btn btn-primary">Crear blog</button>
        </form>
    </div>
</div>