<div class="card">

   

    <div class="card-body">
        <h4 class="card-title">Slides Bienvenida</h4>
        <div class="w-100 text-right">
            <a class="btn btn-primary" [routerLink]="['/slides/create']">Crear slide</a>
        </div>
        <br>
        <table class="table">
            <thead>
                <th>Númer de slide</th>
                <th>Imagen</th>
                <th>Acciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let slide of slides" >
                    <td>{{ slide.numeroSlide}}</td>
                    <td>
                        <img [src]="slide.imagen" width="100" >
                    </td>
                    <td>
                        <button (click)="editSlide(slide)" class="btn btn-warning text-white">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button (click)="eliminarSlide(slide)" class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                       

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>